@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --progress-bar-width: 350px;
  --progress-bar-ipad: 600px;
  --progress-bar-desktop: 800px;
}

* {
  box-sizing: border-box;
}


body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: var(--progress-bar-width);
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
  color: var(--line-border-fill);
  font-weight: bold;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.content {
  width: var(--progress-bar-width);
  position: relative;
  min-height: 60px;
  margin: 24px 0;
  overflow: hidden;
}

.step-content {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.step-content.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .progress-container {
    width: var(--progress-bar-ipad);
  }

  .content {
    width: var(--progress-bar-ipad);
  }
}

@media (min-width: 1025px) {
  .progress-container {
    width: var(--progress-bar-desktop);
  }

  .content {
    width: var(--progress-bar-desktop);
  }
}